body {
    -webkit-user-select: none; /* Disable selection for WebKit/Blink browsers */
    -moz-user-select: none; /* Disable selection for Firefox */
    -ms-user-select: none; /* Disable selection for IE/Edge */
    user-select: none; /* Disable selection for supported browsers */
}

#symbol-table {
    margin-top: 50px;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-color: grey;
}
table td {
    height: 15px;
    width: 10px;
    text-align: center;
}

.bordered > tr > td {
    border: 1px solid black;
}