body {
    margin: 0px;
}

button {
    background-color: rgb(252, 246, 189);
    height: 35px;
    padding: 15px;
    border: 0px;
    text-transform: uppercase;
    font-size: 16px;
    
}

nav {
    padding-top: 25px;
    padding-left: 25px;
    margin: 0px;
    background-color: rgb(208, 244, 222);
}

h1 {
    margin-top: 0px;
}


#picture-container {
    display: grid;
    place-items: center;
    
    margin-top: 50px;
    margin-bottom: 50px;
}



#picture {
    border-collapse: collapse;
    border-color: rgb(185, 185, 185);
}

#picture td {
    height: 24.8px;
    width: 21.98px;
    min-width: 21.98px;
    text-align: center;
}

#picture > tr > td {
    border: 1px solid rgb(185, 185, 185);
}