

table {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-collapse: collapse;
}

td {
    width: 15px;
    height: 15px;
    text-align: center;
}

.bordered > tr > td {
    border: 1px solid black;
}