body {
    -webkit-user-select: none; /* Disable selection for WebKit/Blink browsers */
    -moz-user-select: none; /* Disable selection for Firefox */
    -ms-user-select: none; /* Disable selection for IE/Edge */
    user-select: none; /* Disable selection for supported browsers */
    font-family: Arial, sans-serif;    
    background: rgb(123,241,168);
    background: linear-gradient(202deg, rgba(123,241,168,1) 0%, rgba(255,239,159,0.8839907192575406) 43%, rgba(144,241,239,1) 100%);
}

#ascii-screen {
    display: flex;
    justify-content: center;
    align-items: center;
}

#symbol-table {
    margin-top: 20px;
    background-color: white;
}

#table-container table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-color: rgb(185, 185, 185);
    background-color: white;
}

#table-container table td {
    height: 24.8px;
    width: 21.98px;
    min-width: 21.98px;
    text-align: center;
}

#table-container table > tr > td {
    border: 1px solid rgb(185, 185, 185);
}

#vertical-add-line {
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    font-size: 30px;
    text-align: center;

    border-collapse: collapse;
}

#horizontal-add-line {
    margin-right: 30px;
    margin-left: 30px;
    font-size: 30px;
    text-align: center;
    
    border-collapse: collapse;
}

#vertical-add-line tr > td {
    border: 1px solid rgb(185, 185, 185);
} 

#horizontal-add-line tr > td {
    border: 1px solid rgb(185, 185, 185);
} 

#buttons-screen {
    display: flex;
    justify-content: center;
    align-items: center;
}
#buttons {
    margin-right: 30px;
}

#buttons tr td{
    font-size: 24px;
    text-align: center;
    border: 1px solid rgb(185, 185, 185);
}

.but-left {
    background-color: rgb(252, 246, 189);
    height: 35px;
    padding: 10px;
    border: 0px;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popup {
    display: none; /* Hide popup initially */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    position: relative;
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
}